@font-face {
    font-family: 'Lato';
    src: url(../src/fonts/Lato-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* @font-face {
    font-family: 'Lato';
    src: url(../src/fonts/Lato-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    /* display: flex;
    justify-content: normal;
    align-items: center; */
    min-height: 100vh;
    background-color: #ffffff;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 22px 152px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.navigation a {
    position: relative;
    font-style: normal;
    font-size: 1.1em;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 85px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #0641B7;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 133px;
    height: 59px;
    border-radius: 15px;
    border: 2px solid #a4d6ff;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-size: 1.1em;
    color: #000;
    font-weight: 500;
    padding: 0;
    margin-left: 93px;
    transition: .5s;
} 

.navigation .btnLogin-popup:hover {
    background: #a4d6ff;
}

.navigation .btnSignUp-popup {
    width: 281px;
    height: 59px;
    border-radius: 15px;
    border: transparent;
    background-color: #a4d6ff;
    outline: none;
    cursor: pointer;
    font-size: 1.1em;
    color: #000;
    font-weight: 500;
    padding: 0;
    margin-left: 30px;
    transition: .5s;
} 

.navigation .btnSignUp-popup:hover {
    background: #fff;
    border: 2px solid #a4d6ff;
}

.container {
    position: relative;
    /* min-height: 700px; 
    margin-bottom: 100px; */
}

.main-content {
    padding-top: 324px; 
    padding-right: 99px; 
    padding-bottom: 0; 
    padding-left: 152px; 
    position: relative; 
}

.main-info {
    max-width: 683px;
    padding-bottom: 250px;
}

.main-info h1 {
    font-size: 64px;
    font-weight: 900;
    line-height: 130%;
    margin-bottom: 15px;
    color: #52a1ff;
    letter-spacing: 1px;
}

.main-info p {
    font-size: 48px;
    line-height: 130%;
    color: #1e212c;
    margin-bottom: 67px;
}


.main-info .main-button {
    width: 540px;
    height: 92px;
    border-radius: 15px;
    border: none;
    background-color: #0641B7;
    outline: none;
    cursor: pointer;
    font-size: 32px;
    color: #fff;
    font-weight: 500;
    padding: 0;
    margin-left: 0;
    transition: .5s;
}

.main-info .main-button:hover {
    background: transparent;
    border: 2px solid #0641B7;
    color: #1e212c;
}

.main-image {
    position: absolute;
    /* min-width: 350px; */
    top: 262px;
    right: 99px;
    /* z-index: 1; */
    width: calc(1920px - 807px - 99px);
    height: auto;
}

.header_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1e212c;
    margin-bottom: 80px;
}

.header_row>span {
    background: #3465E0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 66px;
    
}

.header_row-item {
    display: flex;
    align-items: center;
    text-align: left; 
}

.header_row-item span {
    font-weight: 900;
    font-size: 46px;
    line-height: 160%;
    margin-right: 12px;
}

/* .blue-block {
    color: #f2faff;
} */

.main_about {
    display: flex;
    position: relative;
    background-color: #f2faff;
    padding-top: 179px;
    padding-bottom: 180px;
    /* max-width: 1200px; */
    /* justify-content: space-between; */
}

.about_mentalhealth {
    padding-top: 0; 
    padding-right: 32px; 
    padding-bottom: 0; 
    padding-left: 343px; 
    position: relative; 
}

.about_heading {
    margin-bottom: 25px;
}

.heading_subtitle {
    font-size: 16px;
    font-weight: 900;
    line-height: 150%;
    letter-spacing: 1px;
    color: #1e212c;
    margin-bottom: 8px;
}

.heading_title {
    font-size: 46px;
    font-weight: 900;
    line-height: 130%;
    letter-spacing: 0%;
    color: #1e212c;
    margin-top: 8px;
}

.about_text {
    max-width: 600px;
    max-height: 156px;
    padding-right: 32px; 
}

.about_paragraph {
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    color: #1e212c;
    margin-top: 8px;
}

.about_paragpaph-mini {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    color: #1e212c;
    margin-top: 26px;
    width: 600px;
    height: 156px;
}

.about-btn {
    margin-top: 80px;
    padding-top: 26px;
    max-width: 281px;
}

.about-button {
    width: 281px;
    height: 59px;
    border-radius: 15px;
    border: transparent;
    background-color: #a4d6ff;
    outline: none;
    cursor: pointer;
    font-size: 1.1em;
    color: #000;
    font-weight: 500;
    padding: 0;
    transition: .5s;
}

.about-button:hover {
    background: #fff;
    border: 2px solid #a4d6ff;
}

.about-image {
    margin-top: 0;
    position: absolute;
    top: 1212px;
    right: 178px;
    width: calc(1920px - 976px - 178px);
    height: auto;
}

.puzzle-image {
    position: absolute; 
    left: 0; 
    top: 1354px; 
}

.psy_help {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #f2faff;
    /* padding-bottom: 180px; */
    align-items: center;
    justify-content: center;

}

.help {
    max-width: 797px;
    position: relative;
    justify-content: center;
    padding-bottom: 138px;
}

.help_heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 1px;
    color: #1e212c;
}

.frames {
    display: flex;
    flex-wrap: wrap; /* чтобы переходили на новую строку при необходимости */
    justify-content: center; /* выравнивание по центру */
    padding: 0 0 38px 264px;
    gap: 12px;
}

.frame_1, .frame_3, .frame_5 {
    border: none;
    border-radius: 15px;
    background-color: #83c7ff;
    gap: 10px;
}

.frame_2, .frame_4, .frame_6 {
    border: 2px solid #0641B7;
    border-radius: 15px;
    gap: 10px;
}

.frame_text {
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 36px 42.5px;
}

.other_text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 38px;
    padding-bottom: 138px;
}

.other {
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    color: #000;
    opacity: 50%;
}

.main_team {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #f2faff;
    padding-bottom: 180px;
    align-items: center;
}

.team_container {
    display: flex;
}

.team_headings {
    display: flex;
}

.team_info {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1px;
    align-items: center;
    color: #1e212c;
    padding-bottom: 8px;
    justify-content: flex-start;
}

.team_heading {
    font-size: 46px;
    font-weight: 900;
    line-height: 130%;
    letter-spacing: 0%;
    align-items: center;
    padding-bottom: 60px;
}

.team_slider {
}

.social_sliders {
    flex-direction: row;

}

.slider {
    border: none;
    border-radius: 15px;
    width: 285px;
    height: 340px;
    background-color: #66b0f0;
}

.slider-heading {
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    align-items: center;
}

.slider-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    align-items: center;
    color: #7b7ab0;
}

.choice_btn {
    width: 736px;
    height: 92px;
    border-radius: 15px;
    border: none;
    background-color: #0641B7;
    outline: none;
    cursor: pointer;
    font-size: 32px;
    color: #fff;
    font-weight: 500;
    padding: 0;
    margin-left: 0;
    transition: .5s;
}

.choice_btn:hover {
    background: #a4d6ff;
    /* border: 2px solid #0641B7; */
    color: #1e212c;
}